/***************/
/* YOUR STYLES */
/***************/
body {
 background: url("http://tiffaneyparis.github.io/p1-persona-style-tile/img/inide0x53myeje2vhvey6fki4fyz1gzppkyaoqnro1qjeemuhrxq34d7xs9udmu2-f 2.jpg")}

.maintop {
    width: 900px;
    height: auto;
    margin: auto;
    padding: 0;

    
}
 
.mainbottom {
    width: 900px;
    height: auto;
    margin: auto;
    padding: 0;
    background: cornsilk;
}




/* Color Palette */

.color-1 {
    background: #702001;
}
.color-2 {
    background: #D45202;
}
.color-3 {
    background: #3E5C03;
}

.color-4 {
    background: #77A816;
}

.color-5 {
    background: #DDD159;
}
/* Textures or Patterns*/

.pattern-3 {
    background: url("http://tiffaneyparis.github.io/p1-persona-style-tile/img/003-texture-background-high-resolution-subtle-card-board-collection-board-pack.jpg") 25% 25%; no repeat;
    background-size: cover;
}

.pattern-5 {
    background: url("http://tiffaneyparis.github.io/p1-persona-style-tile/img/inide0x53myeje2vhvey6fki4fyz1gzppkyaoqnro1qjeemuhrxq34d7xs9udmu2-f 2.jpg") 25% 25%; no repeat;
    background-size: cover;
}

.pattern-1 {
    background: url("http://tiffaneyparis.github.io/p1-persona-style-tile/img/forest-green-woven-fabric-close-up-texture 2.jpg") 25% 25%; no repeat;
    background-size: cover;
}

.pattern-4 {
    background: url("http://tiffaneyparis.github.io/p1-persona-style-tile/img/mlH3TtY 2.jpg") 25% 25%; no repeat;
    background-size: cover;
}

.pattern-2 {
    background: url("http://tiffaneyparis.github.io/p1-persona-style-tile/img/maroon-knit-texture 2.jpg") 25% 25%; no repeat;
    background-size: cover;
}
/* Imagery */

.personapiccontainer {
    width: 700px;
    height: 905px;
   
    margin: auto;
    
}
/* Icons */
.icon-1,
.icon-2,
.icon-3,
.icon-4,
.icon-5
{
    border: none;
}

/* Navigation */
nav li {
    list-style: none;
    color: #D45202;
}


nav a:link {
    color: #D45202;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px;
    
}

 nav a:hover {
     
     color: #77A816;
 }

button {
    padding: 1em;
    background: #3E5C03;
    color: #DDD159;
    border: #77A816 solid 3px;
    border-radius: 20px;
}
/* Typography */

h1,h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #702001;
}



p {
    font-size: 1em;
    line-height: 1.25em;
   font-family: 'Fjalla One', sans-serif;
    color: #3E5C03;
}